# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Ruserdata

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rproj
.Rproj.user/*
.Rproj.user/shared_notebooks/
.Rproj.user/persistent-state
.Rproj.user/sources/

# Produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 tokens
*.httr-oauth

# knitr and R markdown default cache and temporary files
*_cache/
cache/
*.utf8.md
*.knit.md
*.html

# Temporary files created by R
.Rout
.Rout.save
.Rout.fail
*.out
*.log

# Mac and Linux hidden files
.DS_Store
.Trashes
*.swp
*~

# Package build directories
.Rcheck/
.Rbuildignore

